<!-- ABOUT -->
<section class="about section" id="about">
    <div class="bg-overlay2"></div>
    <div class="container text-white">
        <div class="row">
            <div class="mt-lg-5 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12">
                <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">About Us</h2>
                <p data-aos="fade-up" data-aos-delay="400" >Two industry friends stuck
                    between a rock and a hard place deep in the middle of the pandemic
                    decided to pour all their savings into a take out concept: <a href="https://www.trescompadresto.com" style="color: #998307" target="_blank">Tres
                    Compadres</a>, serving elevated Mexican cuisine. Ali and Abraham shared a
                    mutual love for their industry which sparked this idea as a proud
                    initiative to serve meals to fellow colleagues that had lost income
                    due to the pandemic hardship on hospitality workers. Fortunately, <a href="https://www.trescompadresto.com" style="color: #998307" target="_blank">Tres
                    Compadres</a> quickly became a successful endeavour, giving them the
                    opportunity to open Watson's - a dream bar of Ali’s that he had
                    envisioned from his 10+ years as a bartender in the city. Watson’s is
                    where guests come to have fun, yet feel relaxed as if they are
                    spending time in their own living room with friends, all the while
                    being served artfully crafted cocktails. The artisanal crafted menu
                    combined with the warm and familiar atmosphere is the magic of
                    Watson’s. Where it is believed that a bar and a bar tender are not
                    only judged by their impeccable execution and recipes, but the
                    relations made with their guests and the experiences they can create.</p>
            </div>
            <div class="mt-lg-5 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12" data-aos="fade-up" data-aos-delay="700">
                <div class="slider">
                    <img src="watsons/images/drinks/img1.jpg" />
                    <img src="watsons/images/drinks/img2.jpg" />
                    <img src="watsons/images/drinks/img3.jpg" />
                    <img src="watsons/images/drinks/img4.jpg" />
                    <img src="watsons/images/drinks/img5.jpg" />
                    <img src="watsons/images/drinks/img6.jpg" />
                    <img src="watsons/images/drinks/img7.jpg" />
                    <img src="watsons/images/drinks/img8.jpg" />
                    <img src="watsons/images/drinks/img9.jpg" />
                    <img src="watsons/images/drinks/img10.jpg" />
                    <img src="watsons/images/drinks/img11.jpg" />
                    <img src="watsons/images/drinks/img12.jpg" />
                    <img src="watsons/images/drinks/img13.jpg" />
                    <img src="watsons/images/drinks/img14.jpg" />
                    <img src="watsons/images/drinks/img15.jpg" />
                </div>
                <div class='icon-scroll' onclick="handleScroll()">
                    <div />
                </div>

            </div>

</section>