<div class="containesr-fluid">
    <div class="row">
        <div id="menuTable">
             {{>menuTable}}
        </div>
        <div id="usersTable">
                {{>usersTable}}
        </div>
    
    </div>
</div>