<div class="containesr-fluid" >
    <div class="row justify-content-center" >
        <div id="menuTable"  style="overflow-x: auto; width:95em;">
             {{>menuTable}}
        </div>
        <div id="usersTable" style="overflow-x: auto; width: 100%;">
                {{>usersTable}}
        </div>
    
    </div>
</div>