<!-- HERO -->

<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

     <div class="bg-overlay"></div>

     <div class="container">
          <div class="row">

               <div class="col-lg-8 col-md-10 mx-auto col-12">
                    <div class="hero-text mt-5 text-center">
                         {{!-- <h3 class="text-white " data-aos="fade-up" data-aos-delay="300" style="font-weight: 700; margin-bottom: 1em">{{title}}</h3> --}}

                         {{!-- <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">Upgrade your drinks</h1> --}}
{{!-- 
                         <a href="#feature" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">Get in
                              touch</a> --}}
                         <div style="margin-top:10em">
                              <img src="watsons/images/logo.png" alt="Watson's Toronto" width="75em" class="wLogo" />
                         </div>
                         <a href="/reservations" class="btn custom-btn bordered mt-3"
                              data-aos="fade-up" data-aos-delay="700">Book a table</a>

                         <div style="margin-top:1em">
                              {{!-- <a href='https://www.instagram.com/watsonstoronto/?hl=en'><img src="/watsons/images/inst.png" alt=""></a> --}}
                         {{!-- <a href="https://www.instagram.com/watsonstoronto/?hl=en" class="fa fa-instagram" style="color: #998307"></a> --}}
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>


