<!-- MENU BAR -->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container" {{#if isReservation}} style="justify-content: space-between" {{else}} style="justify-content: end" {{/if}}>
        {{#if isReservation}}
             <a class="navbar-brand" href="/">
            <img src="watsons/images/logo.png" alt="Watson's Toronto" width="30%" />
        </a>
        {{/if}}
    <div>
        <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto">
                {{#if isReservation}}
                <li class="nav-item" >
                    <a href="/" class="nav-link smoothScroll" onclick="closeNavbar()">Home</a>
                </li>
           {{/if}}
                {{#if isHome}}
                <li class="nav-item">
                    <a href="#about" class="nav-link smoothScroll" onclick="displayAbout(); closeNavbar()">About Us</a>
                </li>
                {{/if}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"  href="#" onclick="window.open('/menu/Food-Menu.pdf', '_self', 'fullscreen=yes'); return false;closeNavbar();">Food Menu</a>
                        <a class="dropdown-item"  href="#" onclick="window.open('/menu/Cocktail-Menu.pdf', '_self', 'fullscreen=yes'); return false;closeNavbar();">Cocktail Menu</a>
                        <a class="dropdown-item"  href="#" onclick="window.open('/menu/Beer&Wine-Menu.pdf', '_self', 'fullscreen=yes'); return false;closeNavbar();">Beer & Wine</a>
                        <hr color="#998307" width="50%" >
                    </div>
                </li>
        {{#if isHome}}
                <li class="nav-item">
                    <a href="/reservations"
                        class="nav-link smoothScroll" onclick="closeNavbar()">Reservations</a>
                </li>
           {{/if}}
                {{!-- <li class="nav-item">
                    <a href="#contact" class="nav-link smoothScroll">Contact</a>
                </li> --}}
            </ul>

            <ul class="social-icon ml-lg-3">
                <li><a href="https://www.google.com/search?q=Watson%27s+Toronto&client=opera&sxsrf=APq-WBsXLu7HCLW0KsPMFzoRSZm4WUIBlg%3A1650222546638&ei=0mVcYqjHJquJptQP45y98AQ&ved=0ahUKEwio-MSF5pv3AhWrhIkEHWNOD04Q4dUDCA0&uact=5&oq=Watson%27s+Toronto&gs_lcp=Cgdnd3Mtd2l6EAMyCwguEIAEEMcBEK8BMgUIABCABDIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB46BwgjELADECc6BwgAEEcQsANKBAhBGABKBAhGGABQiwNYiwNgzAdoAXABeACAAXGIAXGSAQMwLjGYAQCgAQKgAQHIAQrAAQE&sclient=gws-wiz"
                        class="fa fa-google" onclick="closeNavbar()"></a></li>
                <li><a href="https://www.instagram.com/watsonstoronto/?hl=en" class="fa fa-instagram" onclick="closeNavbar()"></a></li>
            </ul>
        </div>

    </div>
</nav>