{{>nav}}
<section class="class section" id="class">
    <div class="bg-overlay"></div>
    <div class="col-lg-12 col-12 text-center mb-5" style="margin-top: 10em;">
        <h5 data-aos="fade-up">We accept a limited number of reservations for parties larger than eight</h5>
        <hr color="#998307" width="50%" >
        <h6 data-aos="fade-up" data-aos-delay="200">For reservations of eight or more, please contact <a
                href="mailto:info@watsonstoronto.com" style="color:#998307;">info@watsonstoronto.com</a></h6>
        <a href="https://www.opentable.ca/restref/client/?restref=1213447&lang=en-CA&corrid=3846451c-ca13-420a-b672-ae648112b012" 
            class="btn custom-btn bordered mt-5" data-aos="fade-up" data-aos-delay="700">Reserve a table</a>
    </div>
</section>