<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            {{user.firstName}}
        </div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>


    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Addons
    </div>
    <li class="active nav-item">

        <a class="nav-link" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Menu</span>
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <a class="nav-link" href="/getMenu/qrMenu" target="_blank"><span>Qr Menu</span></a>
            </li>
            <li>
                <a class="nav-link" href="/getMenu/foodMenu" target="_blank"><span>Food Menu</span></a>
            </li>
            <li>
                <a class="nav-link" href="/getMenu/cocktailMenu" target="_blank"><span>Cocktail Menu</span></a>
            </li>
            <li>
                <a class="nav-link" href="/getMenu/beer&WineMenu" target="_blank"><span>Beer &amp; Wine Menu</span></a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="https://watsonstoronto.com/menu/" target="_blank">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Watson's</span>
        </a>
    </li>

</ul>