
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{{user.firstName}}</div>
    </a>
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="/menu-table/{{user._id}}?type=qrMenu">
            <i class="fas fa-fw fa-home"></i>
            <span>Home Page</span></a>
    </li>

    <hr class="sidebar-divider">

       <li class="nav-item" style="margin-bottom: .05em;">
        <a class="nav-link" href="/menu-table/{{user._id}}?type=qrMenu"  type="button">
            <i class="fas fa-fw fa-upload"></i>
            <span>Menu</span>
        </a>
    </li>

    {{#if isAdmin}}
    <li class="nav-item">
        <a class="nav-link" href="/user-table/{{user._id}}" type="button" >
            <i class="fas fa-fw fa-user"></i>
            <span>Users</span>
        </a>
    </li>
    {{/if}}

    <hr class="sidebar-divider">
    
    <div class="sidebar-heading">
        Addons
    </div>
    <li class="nav-item">
        <a class="nav-link" href="https://watsonstoronto.com/menu/" target="_blank">
            <i class="fas fa-fw fa-house-user"></i>
            <span>Watson's</span>
        </a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>

