<section class="feature" id="feature">
     <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
          <div class="about-working-hours">
               <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700">Business Hours</strong>
               <p data-aos="fade-up" data-aos-delay="800" style="height: 5;">Mon - Sat: 6:00 PM - 2:00 AM</p>
               <p data-aos="fade-up" data-aos-delay="800">Sun: 7:00 PM - 2:00 AM</p>
               {{!-- <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700">Phone</strong>
               <a href="tel:+14165979792">
                    <p data-aos="fade-up" data-aos-delay="800">416-597-9792</p>
               </a>
               <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700">Address</strong>
               <a
                    href="https://www.google.com/maps/dir//watsons+toronto/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x882b34db08c95555:0x1e502465748c499b?sa=X&ved=2ahUKEwjd3YvvhZr3AhUXCM0KHUJsB-sQ9Rd6BAhiEAU">
                    <p data-aos="fade-up" data-aos-delay="800">388 Richmond St W</p>
               </a> --}}
          </div>
          
     </div>
          
               <div style="padding-top: 1em; text-align: center;">
                               <ul class="social-icon">
                    {{!-- <li><a href="https://www.google.com/search?q=Watson%27s+Toronto&client=opera&sxsrf=APq-WBsXLu7HCLW0KsPMFzoRSZm4WUIBlg%3A1650222546638&ei=0mVcYqjHJquJptQP45y98AQ&ved=0ahUKEwio-MSF5pv3AhWrhIkEHWNOD04Q4dUDCA0&uact=5&oq=Watson%27s+Toronto&gs_lcp=Cgdnd3Mtd2l6EAMyCwguEIAEEMcBEK8BMgUIABCABDIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB46BwgjELADECc6BwgAEEcQsANKBAhBGABKBAhGGABQiwNYiwNgzAdoAXABeACAAXGIAXGSAQMwLjGYAQCgAQKgAQHIAQrAAQE&sclient=gws-wiz"
                              class="fa fa-map-marker"></a></li> --}}
                    <li><a href="tel:+14165979792" class="fa fa-phone"></a></li>
                    <li><a href="https://www.instagram.com/watsonstoronto/?hl=en" class="fa fa-instagram"></a></li>
               </ul>
                   <a
                    href="https://www.google.com/maps/dir//watsons+toronto/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x882b34db08c95555:0x1e502465748c499b?sa=X&ved=2ahUKEwjd3YvvhZr3AhUXCM0KHUJsB-sQ9Rd6BAhiEAU">
                    388 Richmond St W</p>
                    <p><script>document.write(new Date().getFullYear())</script> © <a href="/">{{title}}</a></p>
               </div>
</section>