<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="description" content="Watson's Toronto" />
  <meta name="author" content="Watson's Toronto">
  <meta name="keywords"
    content="fun, 'good food', 'good drinks', 'good vibe', bar, restaurant, Spadina, queen, toronto, ontario, canada, ontario ,Watson's, tres compadres, tacos, mexican, business, alcohol, downtown, food, fun, gathering, friends, english" />
  <meta property="og:title" content="Watson's Toronto" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:image:width" content="470" />
  <meta property="og:image:height" content="246" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="Watson's Toronto" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>{{title}}</title>

    <!-- Custom fonts for this template-->
    <link href="/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/dashboard/css/sb-admin-2.min.css" rel="stylesheet">

      <link href="/dashboard/images/favicon.png" rel="icon">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="/dashboard/images/apple-touch-icon.png">

  <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/dashboard/images/apple-touch-icon.png">

  <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/dashboard/images/apple-touch-icon.png">

  <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/dashboard/images/apple-touch-icon.png">

  <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/dashboard/images/apple-touch-icon.png">

  <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/dashboard/images/apple-touch-icon.png">

  <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/dashboard/images/apple-touch-icon.png">

  <!-- Chrome v31+ for Android -->
  <link rel="icon" sizes="192x192" href="/dashboard/images/apple-touch-icon.png">

  <!-- Apple "pinned tab" icons -->
  <link rel="mask-icon" href="/dashboard/images/apple-touch-icon.png">

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {{{body}}}
    </div>
            <!-- Bootstrap core JavaScript-->
            <script src="/dashboard/vendor/jquery/jquery.min.js"></script>
            <script src="/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="js/sb-admin-2.min.js"></script>

            <!-- Page level plugins -->
            <script src="/dashboard/vendor/chart.js/Chart.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="/dashboard/js/demo/chart-area-demo.js"></script>
            <script src="/dashboard/js/demo/chart-pie-demo.js"></script>

</body>

</html>