<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="description" content="Watson's Toronto - Admin Dashboard" />
  <meta name="author" content="Watson's Toronto - Admin Dashboard" />
  <meta property="og:title" content="Watson's Toronto - Admin Dashboard" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:image:width" content="470" />
  <meta property="og:image:height" content="246" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="Watson's Toronto - Admin Dashboard" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>{{title}}</title>

  <link href="/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />
  <link href="/dashboard/css/successPage.css" rel="stylesheet" type="text/css">
  <link href="/dashboard/css/errorPage.css" rel="stylesheet" type="text/css">
  <link href="/dashboard/css/custom.css" rel="stylesheet" type="text/css">
  <link href="/dashboard/css/sb-admin-2.min.css" rel="stylesheet" />
  <link href="/dashboard/images/favicon.png" rel="icon" />
  <link rel="mask-icon" href="/dashboard/images/apple-touch-icon.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>

<body id="page-top" class={{isBody}}>
  <div id="wrapper">
    {{{body}}}
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/dashboard/vendor/jquery/jquery.min.js"></script>
  <script src="/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/b98a764abd.js" crossorigin="anonymous"></script>
  <!-- Custom scripts for all pages-->
  <script src="/dashboard/js/sb-admin-2.min.js"></script>
  <script src="/dashboard/js/custom.js"></script>
  <script src="extensions/editable/bootstrap-table-editable.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>