{{!--
<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
</body>

</html> --}}

<html lang="en">

<head>

  <title>{{title}}</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="description" content="Watson's Toronto" />
  <meta name="author" content="Watson's Toronto">
  <meta name="keywords"
    content="fun, 'good food', 'good drinks', 'good vibe', bar, restaurant, Spadina, queen, toronto, ontario, canada, ontario ,Watson's, tres compadres, tacos, mexican, business, alcohol, downtown, food, fun, gathering, friends, english" />
  <meta property="og:title" content="Watson's Toronto" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:image:width" content="470" />
  <meta property="og:image:height" content="246" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="Watson's Toronto" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link rel="stylesheet" href="/watsons/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/watsons/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/watsons/css/aos.css" />
  <link rel="stylesheet" href="/watsons/css/custom.css" />

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="/watsons/css/tooplate-gymso-style.css" />

  <!-- FAV ICONS -->
  <link href="/watsons/images/favicon.png" rel="icon">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="/watsons/images/apple-touch-icon.png">

  <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/watsons/images/apple-touch-icon.png">

  <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/watsons/images/apple-touch-icon.png">

  <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/watsons/images/apple-touch-icon.png">

  <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/watsons/images/apple-touch-icon.png">

  <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/watsons/images/apple-touch-icon.png">

  <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/watsons/images/apple-touch-icon.png">

  <!-- Chrome v31+ for Android -->
  <link rel="icon" sizes="192x192" href="/watsons/images/apple-touch-icon.png">

  <!-- Apple "pinned tab" icons -->
  <link rel="mask-icon" href="/watsons/images/apple-touch-icon.png">


  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,300&family=Festive&family=Kaushan+Script&family=Love+Light&display=swap"
    rel="stylesheet">

</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">
  {{>loader}}
  {{{body}}}
  <!-- SCRIPTS -->
  <script src="/watsons/js/jquery.min.js"></script>
  <script src="/watsons/js/bootstrap.min.js"></script>
  <script src="/watsons/js/aos.js"></script>
  <script src="/watsons/js/smoothscroll.js"></script>
  <script src="/watsons/js/custom.js"></script>
</body>

</html>