<div class="containesr-fluid" >
    <div class="row justify-content-center" >
        <div id="menuTable"  style="overflow-x: auto; width:95em;">
             {{>tables/menuTable}}
        </div>    
    </div>
</div>