<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    {{#if errorMsg}}
                                    <div class="alert alert-danger" role="alert">
                                        {{errorMsg}}
                                    </div>
                                    {{else}}
                                    <div class="alert alert-info" role="alert">Update Password</div>
                                    {{/if}}
                                    <br />
                                </div>
                                <form class="user" action="/users/password/{{user._id}}" method="POST">
                                    <div class="form-group">
                                        <label for="inputNewPassword">New Password</label>
                                        <input type="password" class="form-control form-control-user"
                                            id="inputNewPassword" required="" name="newPassword" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRepeatedPassword">Verify Password</label>
                                        <input type="password" class="form-control form-control-user"
                                            id="inputRepeatedPassword" required="" name="repeatedPassword" />
                                    </div>
                                    <div class="col text-center mt-2">
                                        <button class="btn btn-secondary btn-user" type="button" data-dismiss="modal"
                                            id="cancel" onclick="window.location.href = '/'">Cancel</button>
                                        <input value="Save" class="btn btn-primary btn-user" type="submit" id="save"
                                            disabled="true" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>